<div class="container">
  <div class="corpo">
    <div class="container-videos">
      <img *ngIf="!conectado" src="assets/logo.png" width="400" />
      <h1 *ngIf="!conectado && !entrando" class="titulo">
        Seja bem-vindo! Crie ou entre em alguma sala ;D
      </h1>
      <h1 *ngIf="conectado" class="titulo">
        Você está na sala {{ canalConectado }}
      </h1>
      <h1 *ngIf="entrando && !conectado" class="titulo">
        Entrando na sala {{ canalConectado }}...
      </h1>
      <div style="margin-bottom: 20px" class="grid">
        <template #videosRemotos></template>
      </div>
      <div
        [style.display]="!conectado ? 'none' : 'block'"
        class="grid"
      >
        <template #videosLocais></template>
      </div>
    </div>

    <div class="container-chat" *ngIf="conectado">
      <app-chat-texto
        #chatTexto
        (onMensagem)="enviarMensagem($event)"
      ></app-chat-texto>
    </div>
  </div>

  <div class="toolbar" [formGroup]="form">
    <span class="p-input-icon-left" *ngIf="!conectado">
      <i class="pi pi-user"></i>
      <input
        type="text"
        pInputText
        placeholder="Nome de usuário"
        formControlName="usuario"
      />
    </span>

    <span
      class="p-input-icon-left"
      style="margin-left: 20px"
      *ngIf="!conectado"
    >
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Código da sala"
        formControlName="codigoSala"
      />
    </span>

    <button
      pButton
      (click)="entrarSala()"
      [disabled]="!form.valid || entrando || conectado"
      *ngIf="!conectado"
      style="margin-left: 20px"
      [loading]="entrando"
    >
      Entrar
    </button>

    <button
      *ngIf="conectado"
      id="botao-sair"
      pButton
      style="margin-left: 20px"
      class="p-button-danger"
      (click)="sairSala()"
    >
      Sair da sala
    </button>

    <button
      *ngIf="conectado"
      id="botao-audio"
      pButton
      (click)="alterarEstadoAudio()"
      style="margin-left: 20px; z-index: 1101"
      class="p-button-info"
    >
      <img *ngIf="!mutado" height="20" src="assets/micon.png" /><img
        *ngIf="mutado"
        height="20"
        src="assets/micoff.png"
      />
    </button>

    <button
      pButton
      style="position: absolute; top: 10px; left: 10px; z-index: 1101"
      class="p-button-danger"
      (click)="fecharAplicacao()"
    >
      <img height="20" src="assets/desligar.png" />
    </button>
  </div>
</div>
