.header {
  height: 100px;
  background-color: rgb(134, 0, 134);

  span {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
}

.main {
  height: 500px;
}

.footer {
  height: 80px;
  background-color: rgb(134, 0, 134);
}
