<div class="container">

  <header class="header flex justify-content-center align-items-center text-5xl col">
    <span>UnoCHAT</span>
  </header>

  <main class="main flex justify-content-center align-items-center">
    <button pButton type="button" label="ENTRAR" class="p-button-success"></button>
  </main>

  <footer class="footer flex justify-content-center align-items-center col">
    <button pButton type="button" label="SAIR" class="p-button-danger" (click)="sair()"></button>
  </footer>

</div>
