<div *ngIf="tipoMensagem === 1" class="msg-propria-container">
  <div class="msg-propria">
    <span>{{mensagem}}</span>
    <div class="horario">
      <span>{{formatarHorario(horario)}}</span>
    </div>
  </div>
</div>

<div *ngIf="tipoMensagem === 2" class="msg-externa-container">
  <div class="msg-externa">
    <span *ngIf="!jaIdentificado"><b>{{usuario}}</b></span>
    <span>{{mensagem}}</span>
    <div class="horario">
      <span>{{formatarHorario(horario)}}</span>
    </div>
  </div>
</div>

<div *ngIf="tipoMensagem === 3" class="entrou-saiu-container">
  <span style="background-color: #e5e5e5;border-radius: 5px;padding: 5px;">
    <b>{{usuario}}</b> {{mensagem}}
  </span>
</div>
