<div class="container">

  <div class="container-videos">
    <div id="remote-container" style="margin-bottom: 20px;" class="grid">
    </div>
    <div id="local-container">
    </div>
  </div>

  <div class="toolbar" [formGroup]="conversationFormGroup">

    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Código da sala" formControlName="name" />
    </span>

    <button pButton (click)="getOrcreateConversation()" [disabled]="!conversationFormGroup.valid"
      style="margin-left: 20px;" title="wdwdwdd">Entrar no grupo</button>

  </div>
</div>